:root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

/* - Very Dark Grayish Blue (hover Bg): hsl(217, 19%, 35%)
- Desaturated Dark Blue (circle hover bg): hsl(214, 17%, 51%)
- Grayish Blue: hsl(212, 23%, 69%)
- Light Grayish Blue (Bg): hsl(210, 46%, 95%) */

@font-face {
    font-family: "Manrope";
    src: url(font/Manrope-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope";
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--Light-Grayish-Blue);
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 9px 11px 32px -3px rgba(158, 175, 194, 0.37);
}

.img-box {
    width: 225px;
    height: 225px;
    border-radius: 10px 0 0 10px;
    background-image: url(images/drawers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.details-box {
    width: 357px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 0 0 0;
}

.first-paragraph {
    margin: 0 40px 10px 30px;
    font-size: 17px;
    font-weight: 700;
    color: var(--Very-Dark-Grayish-Blue);
}

.second-paragraph {
    margin: 0 40px 20px 30px;
    font-size: 11px;
    color: var(--Very-Dark-Grayish-Blue);
}

.profile-box {
    display: flex;
    padding: 0 30px 21px 30px;
}

.profile-middle-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex: 1;
    padding: 0 15px;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.name {
    font-size: 12px;
    font-weight: 700;
    color: var(--Very-Dark-Grayish-Blue);
}

.date {
    font-size: 10px;
    color: var(--Very-Dark-Grayish-Blue);
}

.share-btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.share-btn {
    width: 30px;
    height: 30px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--Light-Grayish-Blue);
    fill: var(--Desaturated-Dark-Blue);
    transition: all, 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.share-btn svg {
    pointer-events: none;
}

.tooltip {
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    border-radius: 8px;
    background-color: var(--Very-Dark-Grayish-Blue);
    box-shadow: 1px 9px 9px -3px rgba(158, 175, 194, 0.49);
    opacity: 0;
    transition: all, 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    pointer-events: none;
}

.tooltip::before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    left: 50%;
    bottom: -20%;
    background-color: var(--Very-Dark-Grayish-Blue);
    box-shadow: 7px 7px 9px -3px rgba(158, 175, 194, 0.49);
    transform: translateX(-50%) rotate(45deg);
}

.tooltip p {
    margin-right: 7px;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 4px;
    color: var(--Grayish-Blue);
}

.tooltip a img {
    display: block;
    margin: 0 5px;
    scale: 0.8 0.8;
}

@media only screen and (max-width:767px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .img-box {
        width: 100%;
        height: 200px;
        border-radius: 10px 10px 0 0;
    }

    .details-box {
        width: 283px;
    }

    .first-paragraph {
        font-size: 15px;
    }

    .second-paragraph {
        margin: 0 40px 14px 30px;
    }

    .profile-box {
        position: relative;
        align-items: center;
        padding: 15px 30px;
    }

    .share-btn-box {
        position: static;
    }

    .tooltip {
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        opacity: 0;
        border-radius: 0 0 10px 10px;
        transition: all, 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .tooltip::before {
        display: none;
        pointer-events: none;
    }
}
